
@media screen and (min-width: 1700px) {
   .team-images > div {
      --width: 22.5%;
      width: var(--width);
      height: 900px;
   }
}

@media screen and (max-width: 1550px) {
   .team-images > div {
      --width: 300px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }
}

@media screen and (max-width: 1300px) {
   .header__container {
      justify-content: flex-start;
      gap: 50px;
   }

   .header__menu-link {
      font-size: 2.2rem;
   }
   .team-images > div {
      --width: 250px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }

   .gallery,
   .services,
   .team,
   .contacts {
      height: 100%;
   }

   .map {
      flex-basis: 50%;
   }
   .contacts__massage {
      max-width: 40%;
   }
   .form-contact {
      padding: 10px 15px;
   }
   input[name="name"],
   input[name="mail"] {
      margin: 0;
      height: 30px;
   }
}

@media screen and (max-width: 997.98px) {
   .header {
      padding-bottom: 5px;
   }
   .header__logo {
      display: inline-block;
      width: 15%;
   }
   .header__logo img {
      width: 100%;
      height: 100%;
   }
   .header__container {
      flex-direction: column;
      gap: 5px;
   }
   .header__menu-list {
      margin: 0 auto;
   }
   .header__menu-item:not(:last-child) {
      margin-right: 20px;
   }
   .gallery {
      text-align: center;
      height: 100%;
   }
   .gallery__container {
      display: block;
   }
   .gallery__column-img {
      display: inline;
   }
   .gallery__column-img img {
      width: 39%;
   }

   .gallery__container > img:first-child,
   .gallery__column-img > img:nth-child(2),
   .gallery__column-img > img:nth-child(4) {
      animation: left-to-right 3s ease 1 forwards;
   }
   .gallery__container > img:last-child,
   .gallery__column-img > img:first-child,
   .gallery__column-img > img:nth-child(3) {
      animation: right-to-left 3s ease 1 forwards;
   }
   .services {
      height: 100%;
   }
   .services__container {
      flex-direction: row-reverse;
      padding: 0;
   }
   .sevices-items {
      justify-content: space-around;
   }

   .team__container {
      max-width: 900px;
   }
   .team-images > div {
      --width: 350px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }
   .team-images {
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 100px;
      row-gap: 30px;
   }

   .contacts__container {
      flex-direction: column;
      align-items: center;
   }
   .map {
      margin: 0;
   }
   .map iframe {
      width: 450px;
      height: 300px;
   }
   .contacts__massage {
      max-width: 90%;
      margin-bottom: 50px;
   }
   .contacnts__title {
      max-width: none;
   }
}

@media screen and (max-width: 768.98px) {
   :root {
      font-size: 6px;
   }
   .header__container {
      justify-content: center;
      max-width: 700px;
   }
   .header__logo {
      width: 20%;
   }
   .gallery {
      padding-bottom: 50px;
   }
   .gallery__container > img:first-child {
      margin-bottom: 30px;
   }
   .gallery__container > img:first-child,
   .gallery__container > img:last-child {
      width: 40%;
   }

   .gallery__column-img {
      display: block;
   }
   .gallery__column-img {
      width: 100%;
   }
   .gallery__column-img img {
      width: 50%;
   }
   .services__container {
      display: block;
   }
   .services__container > img {
      display: none;
   }
   .services-item > img {
      width: 70%;
      align-self: center;
   }

   .services-icons-descr {
      font-size: 2rem;
   }
   .contacts {
      padding-top: 50px;
   }
   .contacts__container {
      flex-direction: column-reverse;
   }
   .contacts-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
   }
   textarea {
      margin: 0;
   }
   input[name="name"],
   input[name="mail"] {
      width: 70%;
   }
   .footer__container {
      flex-direction: column;
      gap: 20px;
   }
}

@media screen and (max-width: 499.98px) {
   .header__container {
      justify-content: center;
      max-width: 320px;
   }
   .header__menu-item:not(:last-child) {
      margin-right: 0;
   }
   .header__menu-list {
      flex-wrap: wrap;
      gap: 5px;
   }
   .header__menu-link {
      font-size: 2.3rem;
   }
   .header__logo {
      width: 30%;
   }
   .team-images > div {
      --width: 300px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }

   .map iframe {
      width: 250px;
      height: 150px;
   }
}

@media screen and (max-width: 349.98px) {
   .header__menu-list {
      margin: 0;
      padding: 0 10px;
   }

   .team-images > div {
      --width: 250px;
      width: var(--width);
      height: calc(var(--width) * 1.7);
   }
}