@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");

:root {
   font-size: 10px;
   --main-font: "Montserrat", sans-serif;
   --main-color-text: #00000;
   --bg-main-body: #ececec;
}

@media screen and (min-width: 2000px) {
   :root {
      font-size: 13px;
   }
}
@media screen and (min-width: 2500px) {
   :root {
      font-size: 15px;
   }
}

*::after,
*::before {
   margin: 0;
   padding: 0;
   border: none;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

p {
   margin: 0;
}

ul,
ol,
li {
   list-style: none;
   padding: 0;
   margin: 0;
}

img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
   margin: 0;
}

html,
body {
   line-height: 1;
   height: 100%;
   font-family: var(--main-font);
   color: var(--main-color-text);
   background-color: var(--bg-main-body);
   font-weight: 500;
}
.page {
   flex: 1 1 auto;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

[class*="__container"] {
   max-width: 81%;
   margin: 0 auto;
}

/* HEADER */

.header {
   background-color: #fff;
}

.header__container {
   display: flex;
   align-items: center;
   gap: 100px;
   font-size: 1.6rem;
   padding: 10px 0;
}

.header__menu {
   flex: 1 1 auto;
}

.header__form {
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.header__logo img {
   width: 100%;
}
.header__buttons {
   display: flex;
   gap: 30px;
}

.header__btn {
   font-weight: 700;
   font-size: 1.6rem;
   line-height: 1.25;
   color: #ffffff;
   padding: 15px 20px;
   background: #ef781a;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   border: 0;
   transition: all.5s ease;
}

.header__btn:hover {
   background: #b55913;
   transform: scale(1.1);
}
.btn__green {
   background: #00d008;
}
.btn__green:hover {
   background: #007704;
}

@media (min-width: 992px) {
   .navbar-expand-lg .navbar-toggler {
      display: none;
   }
}

input[name="town"] {
   width: 500px;
   height: 50px;
   border: 2px solid #323232;
   border-radius: 5px;
   padding-left: 50px;
   background-image: url(../images/input-icon.svg);
   background-size: 22px;
   background-position: top 14px left 15px;
   background-repeat: no-repeat;
}
input[name="town"]::placeholder {
   color: #a1a1a1;
}
@media screen and (max-width: 1200px) {
   .header__container {
      gap: 20px;
   }
}

@media screen and (max-width: 997.98px) {
   :root {
      font-size: 8px;
   }
   .header__menu {
      justify-content: end;
      gap: 10px;
   }
   .header__form {
      flex-direction: column;
      gap: 20px;
      align-items: center;
   }
   input[name="town"] {
      width: 100%;
   }
}

@media screen and (max-width: 767.98px) {
   .header__buttons {
      flex-direction: column;
      gap: 5px;
   }
}
/* ================== */

/* MAIN */

/*Main title */
.main-title {
   padding: 78px 0 30px;
   background-color: #fff;
}
.main-title__container h1 {
   font-weight: 800;
   font-size: 3.6rem;
   line-height: 1.22;
}

@media screen and (max-width: 991.98px) {
   .main-title {
      padding: 25px 0;
   }
}

/* ============== */

/* main menu */

.main-menu-wrapper {
}
.main-menu-wrapper__container {
   display: flex;
   justify-content: space-between;
}
.main-menu-l-column {
   flex-basis: 65%;
}

.nav-burger__menu {
   margin: 20px 0;
}

.main-subtitle {
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 1.2;
   margin-bottom: 35px;
}

.main-menu__list {
   display: flex;
   gap: 33px;
}
.main-menu__item {
}
.main-menu__link {
   font-size: 1.8rem;
   line-height: 1.22;
   color: #7b7b7b;
   padding: 6px 8px;
   transition: all 0.5s ease;
}
.main-menu__link:hover {
   background: #c4c4c4;
   border-radius: 10px;
   color: #343434;
}

.main-menu__card {
   background-color: #fff;
   padding: 0;
   transition: all 1s ease;
   cursor: pointer;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
}
.card__img {
}

.card__img img {
   width: 100%;
}

.card__descr {
   margin: 14px 45px 12px 27px;
}

.card__title {
   font-size: 1.8rem;
   line-height: 1.22;
   margin-bottom: 10px;
}
.card__text {
   font-size: 1rem;
   line-height: 1.2;
   color: #a2a2a2;
   margin-bottom: 30px;
}
.card__footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 35px;
}
.card__price {
   font-size: 1.8rem;
   line-height: 1.22;
}

.card__basker {
   font-weight: 700;
   font-size: 1.2rem;
   line-height: 1.25;
   color: #ffffff;
   background: #ff6c01;
   border-radius: 10px;
   border: 0;
   padding: 10px 23px;
   display: none;
}

.main-menu__card:hover .card__price {
   display: none;
}
.main-menu__card:hover .card__basker {
   display: inline-block;
}

.main-menu__card:hover svg {
   fill: #69a042;
}

.row {
   column-gap: 15px;
   row-gap: 30px;
   --bs-gutter-x: 0;
   flex-wrap: nowrap;
   margin-bottom: 30px;
}

.row:not(:last-child) {
}

.col-sm-4 {
   flex: 1 1 auto;
}

@media screen and (max-width: 767.98px) {
   .row {
      flex-wrap: wrap;
   }
}

.main-menu-r-column {
   flex-basis: 32%;
}
.order {
   padding: 25px 16px;
   background: #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   margin-top: 31px;
}

.order__descr {
   max-width: 80%;
   margin: 0 auto;
}

.order__title {
   font-size: 1.8rem;
   line-height: 1.22;
}
.order-top-elements {
   display: flex;
   margin: 30px 0;
   justify-content: space-around;
}
.order__list-title {
   font-size: 1.4rem;
   line-height: 1.2;
   margin-bottom: 5px;
}
.order__list {
   font-size: 1.2rem;
   line-height: 1.2;
   color: #979797;
   padding-left: 6px;
}
.order__list-item {
   position: relative;
}
.order__list-item::before {
   content: "";
   position: absolute;
   width: 3px;
   height: 3px;
   border-radius: 100%;
   top: 5px;
   left: -7px;
   background-color: #979797;
}
.circle__button {
   font-size: 1.6rem;
   line-height: 1.25;
   color: #ffffff;
   width: 2.8rem;
   height: 2.8rem;
   border: 0;
   background: #ff6c01;
   border-radius: 100%;
   padding: 5px 11px;
   display: flex;
   justify-content: center;
   cursor: pointer;
}

.order-top-elements span {
   font-size: 1.8rem;
   line-height: 1.22;
   margin-top: 3px;
}

.order__price {
   font-size: 1.4rem;
   line-height: 1.2;
}
.order-bottom-elements {
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
}
.order-bottom-text {
   font-size: 1.4rem;
   line-height: 1.2;
}
.order__button {
   width: 100%;
   background: #ff6c01;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
   border: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   transition: all 0.7s ease;
}

.order__button:hover {
   background: #a54f11;
}
.order__button:hover span {
   transform: scale(1.1);
}

.order__button span {
   font-weight: 700;
   font-size: 1.8rem;
   line-height: 1.22;
   color: #ffffff;
   transition: all 0.3s ease;
}

@media screen and (max-width: 1199.98px) {
   .main-menu-wrapper__container {
      flex-direction: column;
   }
   .order {
      width: 70%;
      margin: 0 auto;
   }
}

@media screen and (max-width: 767.98px) {
   .order {
      width: 100%;
   }
}
/* ========================== */

/* footer */

.footer {
   padding-top: 35px;
}
.footer__container {
}
.footer__info {
   background: #ffffff;
   border-radius: 10px;
   width: 65%;
   padding: 30px 0px 30px 30px;
}
.footer__info-title {
   font-size: 1.4rem;
   line-height: 1.2;
   color: #999999;
   margin-bottom: 8px;
}

.footer__info-text {
   font-size: 1.6rem;
   line-height: 1.25;
}
.footer__info-text:not(:last-child) {
   margin-bottom: 8px;
}

@media screen and (max-width: 767.98px) {
   .footer__info {
      width: 100%;
   }
}

.arrow-up{
   position: fixed;
   bottom: 0;
   left: 5%;
}