@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


body {
   font-family: Inter, serif;
   font-size: 10px;
   font-weight: 400;
   background: #E5E5E5;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul{
   margin: 0;
   padding: 0;
   list-style-type: none;
}

a {
   text-decoration: none;
}

ul,ol,li {
list-style: none;
}

h1,h2,h3,h4,h5,h6 {
   font-weight: inherit;
   font-size: inherit;
}


[class*="__container"]{
   max-width: 1460px;
   margin: 0 auto;
   padding: 0px 15px;
}

/* ------HEADER------ */

.header{
   padding-top: 15px;
   padding-bottom: 40px;
}

.top__title{
text-align: center;
font-size: 4.8em;
line-height: 135.02%;
color: #000;
}

.dark-blue{
 color: #0BBBD3;
}

.light-blue{
   color: #28CDE3;

}


/* M_A_I_N */


/* -------TOP-------- */

.top {

}

.kh__image {
   background-image: url('../img/top/Uspenskii-sobor.jpg');
   background-size: cover;
   background-repeat: repeat;
}
.main__title {
max-width: 715px;
font-weight: 700;
font-size: 6.4em;
line-height: 167.02%;
color: #FFFFFF;
padding: 218px 0px 303px 163px;
background-image: url('../img/top/prapor.png');
background-repeat: no-repeat;
background-position:top 198px left 80px;
}


/* ----------PLACE-------------- */


.places {
}

.place__title {
margin: 0;
max-width: 361px;
font-weight: 700;
font-size: 4.8em;
line-height: 167.02%;
color: #000000;
border-bottom:  5px solid #33B8F1;
margin: 0px 0px 120px 76px;
}
.place__items {
   padding: 0 80px;
   display: flex;
   gap: 40px;
}
.place-item {
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
   text-align: center;
   /* align-items: center; */
   background: #FFFEFE;
   border-radius: 30px;
}
.item__subtitle {
margin: 0;
font-weight: 700;
font-size: 3.6em;
line-height: 167.02%;
color: #030303;
}
.item-subtitle-blue {
text-align: left;
color: #33B8F1;
}
.item__text {
margin: 0;
text-align: left;
font-size: 3.2em;
line-height: 167.02%;
color: #595050;
max-width: 396px;
}
.text-shevchenko{
   padding-bottom: 22px;
}

.text-item{
   margin-top: 19px;
}

.cursor{
   background-image: url('img/place/cursorpointer.svg');
   background-repeat: no-repeat;
   background-size: 20%;
   background-position: top 290px left 270px;
}

/* UKRAINE */

.all-be-ukraine {
padding-top: 59px;
padding-bottom: 180px;
}

.ukraine__title {
position: relative;
margin: 0;
font-weight: 700;
font-size: 4.8em;
line-height: 167.02%;
color: #000000;
text-transform: uppercase;
text-align: center;
}


.ukraine__title::after{
   content: "";
   position: absolute;
   bottom: -5px;
   left: 38%;
   width: 24%;
   height: 5px;
   background: #33B8F1;}


.image-a-b-ukraine{
   padding-top: 45px;
   text-align: center;

}

.btn-place{
   text-align: center;
}
.btn {
   display: inline-block;
   font-weight: 700;
   font-size: 4.8em;
   line-height: 1;
   color: #FFFFFF;
   background: #33ADF1;
   padding: 15px 50px;
   text-transform: uppercase;
   max-width: 430px;
   margin-top: -50px;
   transition: 0.5s ease-in;
}

.btn:hover{
   background: #17597c;
   text-decoration: underline;
}


/* FOOTER */


.footer {
   background-color:#0A2DA9;
   padding-bottom: 18px;
   padding-top: 49px;
}
.contacts {
   text-align: center;
   display: flex;
   flex-direction: column;
   margin-top: 25px;
}
.contacts-link {
display: inline-block;
font-size: 3.2em;
line-height: 135.02%;
color: #353949;
transition: 0.3s ease;
}
.contactc-item:not(:last-child){
   margin-bottom: 35px;
}

.contacts-link:hover{
   color: #E5E5E5;
   text-decoration: underline;
}

.fotter-icons {
   justify-content: center;
   display: flex;
   align-items: center;
   gap: 54px;
   margin-top: 42px;
}


.footer__icon {
   background: #0931BF;
   border-radius: 100%;
   padding: 10px;
}
.social-link {

}

.social-link img{
   width: 45px;
}
