@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

body {
   background: #f5f5f5;
   font-family: "PT Sans", sans-serif;
   font-size: 10px;
   box-sizing: border-box;
   font-weight: 400;
}

a {
   text-decoration: none;
}

ul,
ol,
li {
   padding: 0;
   margin: 0;
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-style: inherit;
}

p {
   margin: 0;
   padding: 0;
}

[class*="__container"] {
   max-width: 1757px;
   margin: 0 auto;
   padding: 0px 15px;
}

/* title */

.main__title {
   margin: 0;
   font-style: italic;
   font-size: 4.8em;
   line-height: 1.2;
   color: #202846;
   font-weight: 400;
   padding: 50px 0 50px 10px;
}
.main-block-title {
   background-color: #c6c6dc;
}

/* ------H E A D E R------------ */

.header {
   background-color: #202846;
}
.header__logo {
   padding: 10px 0;
   padding-right: 180px;
}

.header__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header-menu {
   margin-right: -64px;
}
.menu__body {
   display: flex;
   align-items: center;
}

.menu__item {
}
.item-special {
   text-align: center;
   display: flex;
}

.menu__item:not(:last-child) {
   margin-right: 54px;
}

.menu__link {
   font-weight: 700;
   font-size: 2.4em;
   line-height: 129%;
   color: #ffffff;
}

.menu__link:hover {
   text-decoration: underline;
}

.menu__lang {
   display: flex;
   align-items: center;
}
.lang__icon {
   margin-right: 8px;
}
.lang__text {
   font-weight: 700;
   font-size: 2.8em;
   line-height: 128%;
   color: #ffffff;
}

.lang__text:hover {
   text-decoration: underline;
   cursor: pointer;
}

/* BOOK HOUSE------------------------ */

.book__house {
   padding-bottom: 177px;
}

.bh-wrapper {
   max-width: 1550px;
   margin: 0 auto;
}

.location {
   position: relative;
   background-color: #e8e8e8;
   align-items: center;
   padding: 18px 0;
   margin: 56px 0;
}
.location-text {
   font-family: "PT Sans";
   font-style: normal;
   font-size: 2.6em;
   line-height: 138%;
   text-align: center;
   color: rgba(0, 0, 0, 0.61);
}

.location img {
   position: absolute;
   top: 35%;
   left: 97%;
}

.bk__items {
   position: relative;
}

.bk-item {
   position: relative;
   background-color: #bdbdc6;
   display: flex;
   gap: 102px;
   padding: 28px 87px 28px 103px;
}

.bk-item:not(:last-child) {
   margin-bottom: 36px;
}

.bk-item:hover {
   background-color: #aeaee2;
   box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
   cursor: pointer;
}

.bk-item:hover a {
   background-color: #ef075b;
}
.bk-item:hover svg path {
   fill: #ffff00;
}

.bk-image {
}
.bk-body {
   max-width: 712px;
}

.bk-body svg {
   position: absolute;
   top: 17px;
   right: 17px;
   transition: all 0.3s ease 0s;
}

.bk-body svg path:hover {
   fill: #ffff00;
   cursor: pointer;
}

.bk-title {
   position: relative;
   font-style: italic;
   font-weight: 700;
   font-size: 3.6em;
   line-height: 130%;
   color: #353c57;
   margin-bottom: 12px;
}

.bk-title::after {
   content: "";
   border: 2px solid #ffffff;
   position: absolute;
   bottom: -5px;
   left: 0;
   max-width: 712px;
   width: 100%;
}

.bk-block-text {
   padding: 32px 59px 40px 57px;
   background-color: #d7d7dd;
   align-items: center;
   text-align: center;
}

.bk-text {
   font-style: normal;
   font-size: 2.1em;
   line-height: 129%;
   color: #202846;
}

.bk-btn {
   position: absolute;
   display: inline-block;
   background-color: #202846;
   padding: 15px 45px;
   font-size: 2.4em;
   line-height: 129%;
   align-items: center;
   text-align: center;
   color: #ffffff;
   border-radius: 30px;
   bottom: 10px;
   right: -30px;
   transition: 0.3s ease 0s;
}

.bk-btn:hover {
   background-color: #ef075b;
   text-decoration: underline;
}

.carpat-txt {
   width: 712px;
   max-width: 712px;
}

/* PERSONAL AREA---------------------------- */

.personal-area {
}

.block__personal {
   max-width: 1318px;
   margin: 0 auto;
   background-color: #bdbdc6;
   margin-top: 40px;
   padding: 77px 81px 44px 140px;
}
.personal-wrapper {
   display: flex;
   gap: 135px;
}
.pesonal-setting {
   display: flex;
   flex-direction: column;
   text-align: center;
   align-items: center;
}
.avatar-icon {
   margin-bottom: 38px;
}
.btn-setting {
   display: inline-block;
   background-color: #484a54;
   font-style: normal;
   font-weight: 400;
   font-size: 2.4em;
   line-height: 129%;
   color: #ffffff;
   padding: 10px 20px;
   border-radius: 25px;
   width: 250px;
   transition: 0.5s ease;
}

.btn-setting:not(:last-child) {
   margin-bottom: 22px;
}

.btn-setting:hover {
   text-decoration: underline;
   text-transform: uppercase;
   background-color: #32343a;
}

.bts-setting-avatar {
   background-color: #69749b;
}
.personal-data {
}
.personal-data-text {
   position: relative;
   font-style: italic;
   font-weight: 700;
   font-size: 3.6em;
   line-height: 130%;
   color: #353c57;
}

.personal-data-text span {
   font-weight: 400;
}

.personal-data-text:not(:last-child) {
   margin-bottom: 35px;
}

.personal-data-text::after {
   content: "";
   border: 2px solid #ffffff;
   position: absolute;
   bottom: -20px;
   left: 0;
   max-width: 712px;
   width: 200%;
}

.personal-data-text:nth-child(5)::after {
   display: none;
}

.exit {
   text-align: center;
   padding: 40px 0 220px 0;
}
.btn-exit {
   display: inline-block;
   font-style: normal;
   font-weight: 400;
   font-size: 2.7em;
   line-height: 129%;
   color: #ffffff;
   background-color: #202846;
   padding: 12px 50px;
   border-radius: 50px;
   width: 212px;
   transition: all 0.4s ease 0s;
}

.btn-exit:hover {
   text-decoration: underline;
   background-color: #3d53a1;
}

/* CONTACTS------------- */

.contacts {
   padding-bottom: 64px;
}
.contact__container {
}
.contacts-items-top {
   display: flex;
   text-align: center;
   justify-content: center;
   margin-top: 63px;
}
.contact-item {
}

.contact-item:not(:last-child) {
   margin-right: 134px;
}

.contact-title {
   position: relative;
   font-weight: 400;
   font-size: 3.2em;
   line-height: 128%;
   color: #000000;
   margin-bottom: 10px;
   text-indent: -40px;
}

.contact-title::after {
   content: "";
   position: absolute;
   border: 2px solid #202846;
   bottom: 0;
   left: 0;
   width: 100%;
}

.contact-link {
   font-family: "PT Sans";
   font-style: normal;
   font-size: 3.2em;
   line-height: 128%;
   color: #000000;
}

.contact-link:hover {
   text-decoration: underline;
   color: #202846;
   cursor: pointer;
}
.work-schedule {
   font-size: 3.2em;
   line-height: 128%;
   color: #000000;
}

.contacts-items-bottom {
   display: flex;
   justify-content: center;
   margin-top: 52px;
   align-items: center;
}
.adress {
}
.contact-title-adress {
   position: relative;
   text-indent: 100px;
   font-weight: 400;
   font-size: 3.2em;
   line-height: 128%;
   color: #000000;
   margin-bottom: 10px;
}

.contact-title-adress::after {
   content: "";
   position: absolute;
   border: 2px solid #202846;
   bottom: 0;
   left: 75px;
   width: 86%;
}
.adress-link {
   text-indent: 80px;
}

.map {
   margin-left: 165px;
   transition: 0.3s ease;
}

.map:hover {
   transform: scale(1.2);
}
.map iframe {
   width: 557px;
   height: 335px;
   border-radius: 20px;
}
/* FOOTER_----------------- */

.footer {
   background-color: #202846;
   padding: 25px 0;
}

.footer-copyrights {
   font-style: italic;
   font-weight: 400;
   font-size: 3.6em;
   line-height: 130%;
   color: #eeecf1;
}

/* FIXED button to home */

.btn-fixed {
   position: fixed;
   bottom: 10%;
   right: 1%;
   z-index: 3;
}
/* --------------------- */
