@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

:root {
   --mainFont: "Work Sans", sans-serif;
   font-size: 10px;
}

body {
   margin: 0;
   padding: 0;
   background: #ffb084;
   border-radius: 20px;
   font-family: var(--mainFont);
   font-size: 1.4rem;
   line-height: 1.14;
}
p {
   margin: 0;
}
ul {
   padding: 0 0 0 25px;
   margin: 0;
}

.container {
   max-width: 680px;
   margin: 0 auto;
   padding-top: 30px;
   padding-bottom: 70px;
}

h1,
h2,
h3 {
   margin: 0;
}

.grid {
   display: grid;
   grid-template-columns: minmax(auto, 250px) repeat(2, 1fr);
   grid-template-rows: 117px 101px 1fr 62px;
   /* grid-template-rows: repeat(4, minmax(auto,101px)); */
   column-gap: 22px;
   row-gap: 15px;
}

.grid__item {
   background: #ffffff;
   box-shadow: 7px 7px 0px #000000;
   border-radius: 20px;
   padding: 15px 25px;
}
/* ============== 1 */
.grid__item:first-child {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   grid-row: 1/4;
}
.grid__item-title {
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 1.16;
   margin-bottom: 17px;
}
.grid__item-image {
   margin-bottom: 17px;
}
.grid__item-image img {
   width: 100%;
}
.grid__item-descr {
   font-size: 1.2rem;
   display: flex;
   flex-direction: column;
}
.grid__item-descr span:not(:last-child) {
   margin-bottom: 14px;
}

.grid__item-descr > span:first-child {
   display: flex;
   justify-content: space-between;
}
/* ================= Iwant */

.grid__item:nth-child(2) {
   grid-row: 4/5;
}

/* ================ BIO*/
.grid__item:nth-child(3) {
   grid-column: 2/4;
   grid-row: 1;
}
.grid__item:nth-child(3) strong {
   display: block;
   margin-bottom: 10px;
}
/* ==============  GOALS */
.grid__item:nth-child(4) {
   box-shadow: 7px 7px 0px #29a71e;
}
.grid__item:nth-child(4) strong {
   display: block;
   margin-bottom: 10px;
   color: #29a71e;
}

/* ======================== FRUSTRATION */
.grid__item:nth-child(5) {
   box-shadow: 7px 7px 0px #e13535;
   grid-row: 2/3;
   grid-column: 3/4;
   align-self: baseline;
}
.grid__item:nth-child(5) strong {
   display: block;
   margin-bottom: 10px;
   color: #e13535;
}
/* ========================== DREAM */
.grid__item:nth-child(6) {
   box-shadow: 7px 7px 0px #3675b0;
   grid-row: 3/5;
}
.grid__item:nth-child(6) strong {
   display: block;
   margin-bottom: 10px;
   color: #3675b0;
}

/* ============================== PERSONALITY */
.grid__item:nth-child(7) {
   grid-row: 3/5;
   align-self: end;
}
.grid__item:nth-child(7) strong {
   display: block;
   margin-bottom: 10px;
}
.grid__item:nth-child(7) span {
   display: block;
}

@media screen and (min-width: 2000px) {
   :root {
      font-size: 20px;
   }

   .container {
      max-width: 1360px;
   }
   .grid {
      display: grid;
      grid-template-columns: minmax(auto, 500px) repeat(2, 1fr);
      grid-template-rows: 234px 202px 133px 124px;
      column-gap: 44px;
      row-gap: 30px;
   }
   .grid__item:nth-child(2) p {
   }

   .grid__item {
      box-shadow: 14px 14px 0px;
      border-radius: 40px;
      padding: 30px 50px;
   }
   .grid__item:nth-child(4) {
      box-shadow: 14px 14px 0px #29a71e;
   }
   .grid__item:nth-child(5) {
      box-shadow: 14px 14px 0px #e13535;
   }
   .grid__item:nth-child(6) {
      box-shadow: 14px 14px 0px #3675b0;
   }
   .grid__item-image {
      width: 208px;
   }
   ul {
      padding-left: 50px;
   }
}

@media screen and (max-width: 767.98px) {
   .grid {
      display: block;
      max-width: 320px;
      margin: 0 auto;
   }
   .grid div:not(:last-child) {
      margin-bottom: 20px;
   }
}

@media screen and (max-width: 337.98px) {
   .container {
      padding: 0 15px;
   }
}
